@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffc0cb;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.background span {
    width: 49vmin;
    height: 49vmin;
    border-radius: 49vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 47;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #e6e6fa;
    top: 93%;
    left: 29%;
    animation-duration: 23s;
    animation-delay: -21s;
    transform-origin: 24vw 13vh;
    box-shadow: 98vmin 0 13.215536214276904vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffffe0;
    top: 51%;
    left: 71%;
    animation-duration: 9s;
    animation-delay: -2s;
    transform-origin: 22vw -22vh;
    box-shadow: 98vmin 0 12.665755577662441vmin currentColor;
}
.background span:nth-child(2) {
    color: #ff7f50;
    top: 34%;
    left: 44%;
    animation-duration: 20s;
    animation-delay: -25s;
    transform-origin: 8vw -7vh;
    box-shadow: -98vmin 0 12.43992230464197vmin currentColor;
}
.background span:nth-child(3) {
    color: #d3d3d3;
    top: 49%;
    left: 76%;
    animation-duration: 7s;
    animation-delay: -1s;
    transform-origin: -18vw 24vh;
    box-shadow: 98vmin 0 12.464527593827658vmin currentColor;
}
.background span:nth-child(4) {
    color: #98ff98;
    top: 64%;
    left: 94%;
    animation-duration: 20s;
    animation-delay: -23s;
    transform-origin: 13vw 23vh;
    box-shadow: 98vmin 0 12.329052012735572vmin currentColor;
}



/* input feild */

