@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '~@nextui-org/react/styles.css'; */



/* CSS HEX */
/* --pink: #FFC0CBff;
--lavender-web: #E6E6FAff;
--light-green: #98FF98ff;
--light-yellow: #FFFFE0ff;
--coral: #FF7F50ff;
--cream: #FFFDD0ff;
--timberwolf: #D3D3D3ff;
  */


  